div#Side
{
 top:5px;
 position:relative;
 float:left;
 text-align:left;
 width:150px;
 margin-left:20px;
 margin-top:5px;
}

div#Main
{
 position:relative;
 float:left;
 text-align:left;
 left:5px;
 top:5px;
}

div.messageBlock
{
 width:600px;
 white-space: pre-wrap;
 word-wrap: break-word;
}

div#auth a, a:active, a:visited
{color: #000; text-decoration:none;}

div#auth a:hover
{color: #f00; cursor:default; text-decoration:none;}

div.messageBlock a:hover
{cursor:default; text-decoration:none;}

a.userObject
{color: #999;}

a.playerObject
{color: #f00;}

a.nodeObject
{color: #00f;}

a.commandObject
{color: #f99;}

a.PMObject
{color: #60f;}

a.messageObject
{color: #000;}

a.shoutObject
{color: #f50;}

a.partyPMObject
{color: #00f;}

span.partyPM
{
 color: #035;
 background-color: #e6e6fa;
}

table {
  border:1px solid black;
  border-collapse: collapse;
}

td {
  width:16px;
  height:16px;
  border:1px solid black;
  font:11px Arial black;
  background:#ddd;
}

body{background:#eee;}

body a:hover
{cursor:default; text-decoration:none;}

.newResult {font-weight:bold}

.cell{width:13px;height:13px;}
.Cell0{color:#aaa;}
.Cell1{color:#00f;}
.Cell2{color:#390;}
.Cell3{color:#f00;}
.Cell4{color:#309;}
.Cell5{color:#930;}
.Cell6{color:#099;}
.Cell7{color:#939;}
.Cell8{color:#000;}
.CellX{color:#333;}

